

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap-sprockets';

body {
	padding: 70px, 0;
	text-align: center;
}


/* NAVIGATION - LAYOUTS/APPLICATION.HTML.ERB */
.navbar {
	position: -webkit-sticky;
	position: sticky;
	list-style: none;
	display: block;
	background-color: rgba(86, 72, 16, 0.85);
	padding: 30px;
}


.navbar ul {
	display: inline;
	padding: 40px;
	margin-right: 40px;
	color: #999;
}

.navbar ul li {
	text-decoration: none;
	display: inline-block;
	padding-right: 30px;
}

/* LINKS */
/* HOVER - ACTIVE */
a:hover, a:active {
	color: #999900;
}

/* DISPLAY - VISITED */
a:link, a:visited {
	color: #e7d27e;
	text-decoration: none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-color: rgba(86, 72, 16, 0.85);
	padding: 10px;
	border: 1px solid #000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	white-space: nowrap;
}

 /* TABLE - VIEWS/TREASURES/SHOW */
.box {
	top: 50%;
	left: 50%;
	border: solid black 1px;
}

.box th {
	padding: 5px;
	background-color: #E6E6E6;
}

.box td {
	padding: 14px 7px;
}

/* TABLE - VIEWS/TREASURES/INDEX */
.table {
	top: 50%;
	left: 50%;
}

.table td {
	padding: 12px 8px;
	text-align: left;
}
